@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: black;
  }

  input, button, a {
    font-family: inherit;
  }
  
  .header::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./IMG/fantasy.jpg), linear-gradient(to bottom right, rgb(142, 14, 0), rgb(31, 28, 24));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    color: white;
    min-height: 100vh;

  }

  .header-navbar {
    position: absolute;
    top: 0;
    left: 0;

    height: 80px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;

  }


  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 7%;
    font-size: 17px;
  }

  .nav-item {
    padding: 0 30px;
  }

  .nav-links {
    all: unset;
    cursor: pointer;

  }

  .nav-links:hover {
    opacity: 0.85;
  }

  .nav-links:active {
    opacity: 0.95;
  }

  .header-logo {
    font-size: 25px;
    font-weight: 500;
    margin-left: 7%;
  }

  .search-unique {
    font-size: 20px;
  }


  .user-img {
    height: 70px;
    width: 70px;
    background-image: url(./IMG/shades.jpg);
    background-position: center;
    background-size: cover;
    clip-path: circle(35%);
    -webkit-clip-path: circle(35%);
  }

  .user-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
  }

  .user-name {
    margin-left: 10px;
  }

  .home-unique {
    position: relative;
  }
  
  .home-unique::before {
    content: '';
    position: absolute;
    left    : 50%;
    bottom  : -25%;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 30%;
    border-bottom: 3px solid #f12832;
  }

  .header-landing {
    margin-top: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 800px;
    font-size: 38px;
  }

  .description {
    color:rgba(255, 255, 255, .88);
    margin-top: 10px;
    font-size: 20px;
  }

  .header-buttons {
    margin-top: 35px;
  }

  .btn {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
    color: white;
    background-color: #F12832;
    border-radius: 10px;
    transition: all .2s;
    
  }

  .btn:hover {
    color: white;
    background-color: #eb3d46;
    transform: translateY(-1px);
  }

  .btn:active {
    background-color: #ee4c54;
    transform: translateY(1px);
  }

  .movies-unique {
    margin-right: 10px;
  }


  /* Responsiveness */

  /* Header Responsiveness */


  @media only screen and (max-width: 1200px) {
    .user-details {
      margin-left: 30px;
    }

    .header-buttons {
      margin-bottom: 35px;
    }
  }

  @media only screen and (max-width: 900px) {
    .header { 
      min-height: 30vh;
    }

    .header-navbar {
      display: block;
    }

    .nav-item {
      padding: 0 15px;
    }

    .header-logo {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }

    .nav-list {
      justify-content: center;
      margin: 10px 0;
    }

    .user-details {
      margin: 10px 0;
      display: none;
    }

    .header-landing {
      margin-top: 130px;
    }

    .title {
      width: 95%;
    }
  }

  @media only screen and (max-width: 600px) {
    .title {
      font-size: 30px;
    }

    .description {
      font-size: 18px;
    }

    .btn {
      font-size: 22px;
    }
  }

  
  @media only screen and (max-width: 480px) {
    .title {
      font-size: 25px;
    }

    .description {
      font-size: 16px;
    }

    .btn {
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 380px) {
    .title {
      font-size: 20px;
    }

    .description {
      font-size: 14px;
    }

    .btn {
      font-size: 18px;
    }
  }


 /* start movies section style   */
  .movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  .card{
    margin: 1.5rem;
    border-radius: 10px;
    background-color: #ededed;
    transition: all 0.3s linear;
    width: 260px;
    height: 350px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
}
.img-card {
    width: 100%;
    height: 255px;
    border-radius: 10px 10px 0px 0px ;
  }

  .p-movie-name{
    display: inline;
    font-weight: bold;
  }

  .details{
    display: flex;
    justify-content: space-between;
    margin: 6px 12px;
  }
  .search-input{
    margin: 0 auto;
    margin-top: 2rem;
    
    display: flex;
    justify-content: center;
  }

  .input-search{
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
  }
  .butt-search{
    border: none;
    border-radius: 5px;
    padding: 6px;
    background-color: #BB000E;
    color: white;
    cursor: pointer;
  }
  .card .button{
    width: 40%;
    margin: 0 auto;
    padding: 4px;
    border-radius: 8px;
    border: none;
    background-color: #bb000e;
    color: white;
    cursor: pointer;
  }
  .card:hover{
    box-shadow: 2px 4px 25px  #BB000E;
    transform: translate3D(0, -9px, 0);
  }


  @media (min-width: 1200px) {
    .input-search{
        width: 50%;
        font-size: 15px;
    }
    .search-input{
        width: 60%;
        margin-top: 2rem;
    }
  }

   /* end movies section style   */
.hederMusicSection{
  display: flex;
  justify-content: center;
  background-color: rgba(254, 0, 0, 0.8);
}
.hederMusicSectionH2{
  color: rgb(255, 255, 255);
  margin: 20px;
  
}
#musicSection {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.imgDivAll {
  margin: 20px;
  color: white;
  width: 300px;
  background-color: rgb(0, 0, 0);
  position: relative;
  transition: all 0.2s linear !important;
}
.imgDiv {
  width: 300px;
  border-radius: 20px;
}
.imgDiv:hover {
  box-shadow: 2px 4px 25px  #BB000E;
}
.overlay {
  padding: 10px;
  text-align: center;
  opacity: 0.8;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.h2Name {
  padding: 5px;
}
.overlay a {
  pointer-events: fill;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(254, 0, 0);
  opacity: 1;
  border-radius: 5px;
  padding: 5px;
}
.overlay a:hover {
  color: rgb(255, 255, 255);
  padding: 10px;
}


   /* start footer section style   */
   footer{
    display: flex;
    justify-content: space-between;
    background-color: #bb000e;
    padding: 0.8rem;
    color: white;
  }
 .icons a{
    text-decoration: none;
    color: white;
    padding-left: 6px;
  }

  /* end footer section style   */

/* Pop Up */

.popup {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 999;
  background-color: #15141F;
  color: white;
  border-radius: 30px;
  box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y : scroll;
  height: 95%;
  
}

.contents {
  position: absolute;
  top: 0;
  left: 0;
  
}

.popup-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  animation: appearing-animations .3s;
}

.popup-container::after {
  content: '';
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: #15141F;
}


.x {
  display: flex;
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 35px;
  transition: all 0.2s;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 0.95;
}

.x:hover {
  background-color: #eb3d46;
  color: white;
}

.movie-img {
  height: 300px;
  width: 200px;
  object-fit: contain;
  margin-top: 10px;
}

.one-liner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 10px;
}

.one-liner > *:not(:last-child) {
  margin-right: 60px;
}

.titles {
  font-size: 20px;
}

.genre-titles {
  opacity: 0.8;
}

.release-actual-date {
  opacity: 0.8;
}

.hr {
  width: 80% ;
  margin: 5px auto; 
  margin-top: 10px;
  opacity: .1;
}

.summary {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.summary-title {
  margin-bottom: 10px;
}

.summary-description {
  width: 90%;
}

.watch-buttons {
  margin-bottom: 20px;
}
.watch-now {
  margin-right: 20px;
}

.rate i {
  color: goldenrod;
}

  /* Pop Up Responsiveness */

  @media only screen and (max-width: 1200px) {
    .popup {
      width: 70%;
    }
  }

  @media only screen and (max-width: 600px) {
    .popup {
      width: 95%;
    }
  }


  @media only screen and (max-width: 380px) {
    .summary-description {
      font-size: 13px;
    }
  }


/* Animations */

@keyframes appearing-animations {
  0% {
    opacity: 0;
  } 

  100% {
    opacity: 1;
  }
}

/*Scroll Bar*/ 
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: #b91c1c;
  background-repeat: no-repeat;   
  background-size: 50%;
  background-position: center;
}

::-webkit-scrollbar-button:vertical:start:increment {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');   
}

::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:decrement {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');   
}
